/* Empty. Add your own CSS if you like */


@font-face {
  font-family: "Benton-Sans";
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot");
  src: url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-2.eot?") format("embedded-opentype"),
  url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-3.woff") format("woff"),
  url("https://www.bu.edu/cdn/fonts/Benton-Sans-Bold/d4a4a960-2cf2-430e-8b13-cbf6f261ddb9-1.ttf") format("truetype");
  font-style: normal;
  font-weight: 700;
}

body{
  font-family: "Benton-Sans";
}

.wrapper {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-between;
  height: 90%;
}
[name="tab-home"] {
  line-height: 80px !important;
}

.center {
  text-align: center;
}

#tagline {
  font-size: 50px;
  font-weight: bold;
  /*padding: 0 5px;*/
  margin: 6px;
  line-height: 60px !important;
  font-family: "Benton-Sans";
}

.weather-icon{
  /*text-align: center;*/
  position: relative;
  top: 60px;
}

.temp {
  font-size: 30px;
  font-weight: bolder;
}

.city-list{
  /*background: red;*/
}

.city-list:last-child:after{
  content: "FUCKING WHERE YOU ARE";
  float: right;
  font-size: 10px;
  padding:0 4px;
  border: 1px solid gray;
  border-radius: 10px;
}


.settings .item{
  height: 59px !important;
}
